<div class="page-container">
  <h1>{{title}}</h1>
  <hr>
  <ul>
      <li><a href="">Video</a></li>
      <li class="divider"> / </li>
      <li><a href="">People</a></li>
      <li class="divider"> / </li>
      <li><a href="">Documents</a></li>
      <li class="divider"> / </li>
      <li><a href="">Events</a></li>
      <li class="divider"> / </li>
      <li><a href="">Communities</a></li>
      <li class="divider"> / </li>
      <li><a href="">Favourites</a></li>
      <li class="divider"> / </li>
      <li><a href="">Channels</a></li>    
  </ul>
  <hr>
  <div class="container">
    <div class="container-side-right">
      <h2>Videos</h2>
    </div> 
    <div class="container-side-left">
      
    </div>
  </div> 
</div>